/*
* The CSS is done for training purposes
* Accordion
* Styling Collapsible fieldset along with title and content
* Grid system via [LostGrid](http://lostgrid.org/)
* All mixins found in /base/_mixins.scss
* Variables found in /base/_base.scss
* IE10+ support
*/

/* General layout */
.collapse-text-fieldset {
  @include clearfix;
  lost-center: $container-width-md;
  lost-utility: clearfix;
  padding: 0 $gutter-sm;

  legend {
    /* Overriding the default margin */
    margin-bottom: 0;
  }

  /* panel container */
  .fieldset-legend {
    background-image: none !important; // @TODO avoid to be specific
    padding-left: 0 !important; // @TODO avoid to be specific
    > * {
      display: block; // To make <span> and <a> full width
    }

    // panel Title
    .fieldset-title {
      font-size: $text-sm;
      background: $btn-primary-bg;
      color: $white;
      padding: $space-md $space-xl $space-md $space-xxxl;
      cursor: pointer;
      @include relative();
      @include transition-off;

      // Accordion open icon
      &:before,
      &:after {
        background: $white;
        content: "";
        width: $text-sm;
        height: $text-sm / 4;
        @include absolute(top 50% left 20px);
        @include transition-off;
      }

      // Accordion close icon
      &.collapsed {
        &:after {
          transform: rotate(90deg);
        }
        &:before {
          transform: rotate(180deg);
        }
      }
      &:hover {
        background-color: $btn-primary-hover;
        @include transition-on;
      }
    }
  }

  /* Accordion body */
  // body wrapper
  .fieldset-wrapper {
    padding: $space-md;
    background: $white;

    // Links
    a {
      background-color: initial;
      border-bottom: 1px solid $color-link;
      &:hover, &:focus {
        background-color: $color-link-bg-hover;
        color: $color-link-hover;
        border-color: $color-link-hover;
      }
    }
  }
}
