/* -------------------------------------
Base banner styles
-------------------------------------- */

// make banner image cover full browser-width
%banner-container {
  position: relative;
  width: 100%;
  min-height: 18rem; // 378px

  @include from(tablet-l) {
    min-height: 23rem; // 483px
  }
}

// make banner image cover full browser-width
%banner-img--false-full-width {
  display: block;
  @include absolute(top 0 left 50% right 50%);
  content: "";
  width: 100vw;
  height: 100%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Banner */

.field-name-field-banner-image {
    @extend %banner-container;

    .img-cover-wrapper {
      @extend %banner-img--false-full-width;
    }

    img {
      display: none; // To display the image which is set as background image. See banner.js
    }
  }
