/*
* Some magic mixins from [RucksackCSS](https://www.rucksackcss.org/)
* All other mixins found in /base/_mixins.scss
* Inline SVG script required (found in /js/script.js)
** Variables found in /scss/_base.scss
** IE10+ support
*/

.breadcrumb {
  @include clearfix;
  @include clear-list-styles;
  margin: 0 auto $space-md;
  h2 {
    @include is-invisible;
  }
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
    padding-right: $space-sm;
    margin-left: $space-sm;
    font-size: $text-xs; // needs to match <a> for current page
  }
  a {
    display: block;
    text-decoration: none;
    color: $color-link;
    font-size: $text-xs;
    margin-right: $space-sm;
    border: none;
    position: relative;
    background-color: initial;
    border-bottom: 1px solid $color-link;
    padding-bottom: $space-xxs / 4;
    &:after {
      @include absolute(right -1rem bottom 50%);
      width: $text-xs / 2;
      height: $text-xs / 2;
      border-top: 1px solid $color-text;
      border-left: 1px solid $color-text;
      content: "";
      transform: rotate(135deg) translateY(-50%);
    }
    &:focus,
    &:hover {
      background-color: $color-link-bg-hover;
      color: $color-link-hover;
      border-color: $color-link-hover;
    }
  }
  li:first-of-type a {
    margin-left: 0;
  }
}
