/*
* Some magic mixins from [RucksackCSS](https://www.rucksackcss.org/)
* All other mixins found in /base/_mixins.scss
* Inline SVG script required (found in /js/script.js)
** Variables found in /scss/_base.scss
** IE10+ support
*/

// Button hover style
@mixin button-hover {
  &:hover,
  &:focus {
    background-color: $btn-primary-hover;
    border-color: $btn-primary-hover;
    color: $btn-primary-label;
    text-decoration: none;
    transition: none; // Appears faster
  }
}

// Default button styles
%button,
.button {
  @include transition;
  background-color: $btn-primary-bg;
  border: 2px solid $btn-primary-bg;
  color: $btn-primary-label;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  line-height: 1.2;
  padding: $space-xxxs $space-xxs;
  text-decoration: none;
  max-width: 100%;
  @include button-hover;
}
button,
input[type=submit],
input[type=reset],
body.html.not-front #compact-mode-search-label {
  @extend %button;
}

// Ghost button
// Usage: class="button button-secondary"
%button-secondary,
.button-secondary {
  border: 2px solid $color-link;
  color: $color-link;
  background: white;
  @include button-hover;
}
%button-reversed,
.button-reversed {
  border: 2px solid rgba($white, 0.6);
  color: $white;
  background: transparent;
  @include button-hover;
  &:hover {
    border-color: $white;
  }
}

// Large active button
%button-primary,
.button-primary {
  font-size: $text-md;
  border: 2px solid $color-link;
  padding: $space-sm $space-lg; // 18px 30px
  @include button-hover;
  // Primary buttons can have icons
  &:after {
    font-size: $text-xs;
    padding-left: 1rem;
    opacity: 0.7;
    position: relative;
    top: -.2rem;
  }
}

// Small ghost button
// Usage: class="button button-small"
%button-small,
.button-small {
  background: transparent;
  border: 1px solid rgba($color-link, 0.8);
  color: $color-link; // Accessibile on white
  font-size: 14px;  // 14px for accessibility / color contrast
  padding: .3em 1.2em;
  text-transform: uppercase;
  @include button-hover;
}
%button-small-reversed,
.button-small-reversed {
  @extend %button-small;
  border-color: rgba(white, 0.8);
  color: white;
  background: transparent;
  &:hover {
    border-color: $white;
  }  
}

// Small pale button
%button-small-secondary,
.button-small-secondary {
  @extend %button-small;
  color: $color-link; // Accessibile on teal
  background: $color-mark;
  border-color: $color-mark;
  &:hover,
  &:focus {
    background-color: $btn-primary-hover;
    border-color: $btn-primary-hover;
    color: $btn-primary-label;
  }
}