/*
* Mobile first
* Grid system via [LostGrid](http://lostgrid.org/)
* Media Query via [Rupture Sass](https://github.com/CubaSAN/rupture-sass)
* Some magic mixins from [RucksackCSS](https://www.rucksackcss.org/)
* All other mixins found in /base/_mixins.scss
* Inline SVG script required (found in /js/script.js)
** Variables found in /scss/_base.scss
** IE10+ support
*/


/*
 * Card layouts, grids, quantity queries etc
 */

.view-mode-compact-wrapper .item-list {
  @include clear-list-styles;
  @include match-child-height;
  lost-utility: clearfix;
  lost-center: $container-width-lg;
  padding: 0 $gutter-sm;

  // force ul to be full-width
  > * {
    width: 100%;
  }

  .views-row {
    lost-column: 1/1;
    margin: 0 0 $gutter-sm;
    @include from(mobile) {
      lost-column: 1/2 2 $gutter-sm; // reset: width, cycle, gutter
      // grid of 3's
      &:exactly(3), &:exactly(6), &:exactly(9) {
        lost-column: 1/3 3 $gutter-sm;
      }
    }
    @include from(tablet-l) {
      lost-column: 1/3;
      // grid of 2
      &:exactly(2) {
        lost-column: 1/2;
      }
      // grid of 4's
      &:exactly(4), &:exactly(8) {
        lost-column: 1/4;
      }
    }
    @include from(desktop-l) {
      lost-column: 1/4;
      // grid of 3's
      &:exactly(3), &:exactly(6), &:exactly(9) {
        lost-column: 1/3;
      }
    }
  }
}

.view-mode-compact {
  .group-link {
    height: 100%;
    position: relative;
    padding-bottom: $space-md;
    display: block;
    text-decoration: none;
    @include clearfix;
    background-color: $white;
    border-bottom: 1px solid $color-border;
    @include shadow--hover;
    &:before {
      display: block;
      content: "";
      @include absolute(bottom 15px right 15px);
      background: svg-load("../images/icon-arrow-right.svg", fill=$color-link) center no-repeat;
      background-size: $space-md;
      height: $space-md;
      width: $space-md;
    }
  }
  .field-type-image {
    position: relative;
    height: 200px;
    overflow: hidden;
    img {
      @include absolute(top 50% left 50%);
      transform: translate(-50%, -50%);
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      max-width: none;
      max-height: none;
    }
  }
  .group-link-content {
    padding: $space-md;
    color: $color-text;
    font-family: $font-primary;
  }
  .field-name-title * {
    font-size: $text-lg;
    color: $color-link;
    margin-bottom: $space-md/2;
    clear: both;
  }
  .field-name-body,
  .field-name-field-summary {
    clear: both;
    * {
      font-family: $font-primary;
      font-size: $text-sm;
      color: $color-text;
    }
  }

  /* Card label */
  .group-link-type {
    background: $white;
    position: relative;
    padding: 10px 20px;
    margin-top: -40px;
    float: left;
  }

  //content-type label
  .field-name-story-type .field-item,
  .field-name-field-magazine-issue .field-item {
    @extend %card--label--small;
    display: inline-block;
  }

  // author and date formatting
  .field-name-post-date, .field-name-audio-publication-date,
  .field-name-author, .field-name-field-magazine-article-author {
    @extend %card--label--small--secondary;
    display: inline-block;
  }
}
