// @TODO refactor sass to be reusable

/*
* Cards
*/

// Small emphasised label
%card--label--small {
  float: left;
  font-family: $font-tertiary;
  font-size: $text-sm;
  color: $color-text-heading;
  text-transform: uppercase;
  padding: 0 $space-xxxs 0 0;
  margin-bottom: $space-xxxs;
}

%card--label--small--secondary {
  @extend %card--label--small;
  color: $color-text-subtle;
}
