/*
* Cards - Featured, Compact and Mini
* Styling featured card along with title, image, category and summary
* Grid system via [LostGrid](http://lostgrid.org/)
* All mixins found in /base/_mixins.scss
* Variables found in /base/_base.scss
* IE10+ Support
*/

/*--------------
Elements
---------------*/

%card--container {
  background-color: $white;
  padding: $gutter-sm;
  @include clearfix;
  &:hover {
    @include box-shadow;
    @include shadow--hover;
  }
}
%card--image {
  position: relative;
  overflow: hidden;
  margin-bottom: $gutter-sm;
  img {
    @include absolute(top 50% left 50%);
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    max-height: none;
    @include transition;
  }
  &:hover {
    img {
      transform: translate(-50%,-50%) scale(1.1);
    }
  }
}
// Featured card image height
%card--image_featured {
  height: 28rem; // 450px
}
// Compact card image height
%card--image_compact {
  height: 20rem; //416px
  @include from (desktop-l) {
    height: 10rem; // 160px
  }
}
%card--title {
  font-size: $text-md;
  font-family: $font-primary;
}
%card--link {
  background-color: lighten($color-link, 100%);
  border-bottom: 1px solid $color-link;
  line-height: $body-line-height;
  &:hover {
    border-color: $color-link-hover;
  }
}
// Summary
%card--detail {
  clear: both;
}
%card--border_bottom {
  border-bottom: 2px solid $color-link;
  border-radius: $border-radius-xs;
}

/*-----------------
* layout / grid
* Featured, Compact and Mini
------------------*/
// if there are only 3 components
.view-home-news-block,
.view-clone-of-mode-compact-wrapper {
  .item-list > * > * {

    @include from (mobile) {
      lost-column: 1/1 1;
      margin-bottom: $gutter-sm;
    }

    @include from (desktop-l) {
      lost-column: 1/3;
      margin-bottom: $gutter-sm;
    }
  }
}

// exactly one component (full-width)
.bean-featured-card-block:exactly(1) {
  lost-column: 1/1;
  margin-bottom: $gutter-sm;
}
.view-home-news-block,
.view-clone-of-mode-compact-wrapper {
  .item-list > * > * {
    &:exactly(1) {
      lost-column: 1/1;
      margin-bottom: $gutter-sm;
    }
  }
}
// Sidebar cards full width
.view-mode-mini-wrapper .item-list > * > * {
  lost-column: 1/1;
  margin-bottom: $gutter-sm;
}

// multiples of 2 grid
.view-home-news-block,
.view-clone-of-mode-compact-wrapper {
  .item-list > * > * {
    lost-column: 1/1;

    @include from (desktop-l) {
      lost-column: 1/1;

      &:exactly(2), &:exactly(4), &:exactly(6) {
        lost-column: 1/2 2 $gutter-sm;
      }
    }
  }
}

// multiples of 3 grid
.view-home-news-block,
.view-clone-of-mode-compact-wrapper {
  .item-list > * > * {
    @include from (desktop-l) {
      lost-column: 1/3;

      &:exactly(3), &:exactly(6), &:exactly(9) {
        lost-column: 1/3 3 $gutter-sm;
      }
    }
  }
}

// About page compact cards
// @TODO I need to clear on this type of probability.
.page-node-1 .view-clone-of-mode-compact-wrapper {
  .item-list > * > * {
    @include from (tablet-l) {
      lost-column: 1/2;
    }
  }
}

/* -------------------------
* Card styles
* Featured, Compact and Mini
-------------------------- */

/* Featured, compact and mini view mode */
.bean-featured-card-block,
.node-news {
  @extend %card--container;

  h2 {
    @extend %card--title;
    * {
      @extend %card--link;
    }
  }

  .field-type-image {
    @extend %card--image;
  }

  .field-name-field-category > * {
    @extend %pill;
  }

  .field-name-field-body {
    @extend %card--detail;
  }
}

/* Featured view mode */
// Image of different height
.bean-featured-card-block .field-type-image {
  @extend %card--image_featured;
}

/* Compact view mode */
// Image of different height
.node-news .field-type-image {
  @extend %card--image_compact;
}

/* Compact and Mini View Mode */
.view-home-news-block,
.view-mode-mini-wrapper,
.view-clone-of-mode-compact-wrapper {
  > * > * {
    @include clear-list-styles;
    @include match-child-height;
  }
}

/* Mini View Mode */
// About Page news mini cards
.page-node-1 .view-mode-mini-wrapper .node-news {
  @extend %card--border_bottom;
}
