/*
* The CSS is done for training purposes
* Footer
* Grid system via [LostGrid](http://lostgrid.org/)
* All mixins found in /base/_mixins.scss
* Variables found in /base/_base.scss
*/

/* --------------------------
Global footer styling
---------------------------*/
footer {
  background: $grey-10;
  position: relative;
  z-index: 1;

  .menu {
    @include clear-list-styles;
    @include clearfix;
    width: 100%;
    padding: $space-xxxl $gutter-sm;
    lost-center: 100%;

    li {
      list-style-image: none;
      float: left;
      lost-column: 1;
      margin-bottom: $space-sm;

      // Footer links
      a {
        @extend %button;
        background: $grey-9;
        border-color: $grey-9;
        width: 100%;
        height: 100%; // match height for children
        display: block;
        text-align: center;
      }

      @include from(tablet-l) {
        lost-column: 1/6;
        margin-bottom: 0;
      }
    }
  }

  /* ----------
  Copyright
  ------------*/
  #block-block-1 {
    position: relative;
    // false full-width background
    &:before {
      display: block;
      @include absolute(top 0 left 50% right 50%);
      content: "";
      width: 100vw;
      height: 100%;
      margin-left: -50vw;
      margin-right: -50vw;
      background: $black;
      z-index: -1;
    }
    // Content
    .content {
      width: 100%;
      * {
        color: $white;
        font-size: $text-xs;
        text-align: center;
        display: block;
        padding: $space-sm;
        margin: 0;
      }
    }
  }
}
