/*
* Some magic mixins from [RucksackCSS](https://www.rucksackcss.org/)
* All other mixins found in /base/_mixins.scss
* Inline SVG script required (found in /js/script.js)
** Variables found in /scss/_base.scss
** IE10+ support
*/

//@TODO replace spacing values with space variables

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=date],
input[type=month],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=week],
input[type=number],
input[type=search],
input[type=tel],
input[type=color],
.form-text,
select,
textarea {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid $form-element-border;
  border-radius: 2px;
  color: $color-text;
  font-size: $text-sm;
  width: 100%;
  max-width: 500px;
  outline: none;
  &:focus {
    border-color: $form-element-border-focus;
  }
}
fieldset {
  margin-bottom: 1.5em;
  padding: 0;
  border: 0;
  fieldset {
    margin-bottom: 0;
  }
}
form fieldset:last-of-type {
  margin-bottom: 0;
}
.fieldset-description {
  margin-bottom: 1.5em;
}
.grippie {
  max-width: 500px; // same max as inputs
}
legend {
  padding: 0;
  font-size: $text-sm + 2;
  font-weight: $font-weight-medium;
  border-bottom: 1px solid $form-element-border;
  display: block;
  width: 100%;
  margin-bottom: 1.5em;
}
label {
  display: block;
  margin-bottom: 0.5em;
}

/*  Placeholders. Keep as seperate selectors or it won't work  */

// ie9 via jquery.placeholder.js polyfill
.placeholder {
  color: $form-text-placeholder;
  font-style: italic;
}
::-webkit-input-placeholder {
  color: $form-text-placeholder;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  color: $form-text-placeholder;
  font-style: italic;
}
::-moz-placeholder {  /* Firefox 19+ */
  color: $form-text-placeholder;
  font-style: italic;
}
:-ms-input-placeholder {
  color: $form-text-placeholder;
  font-style: italic;
}


/*
* Drupal classes
*/

.form-item {
  margin-bottom: 1.5em;
  ul {
    list-style: none;
    padding: 0;
  }
}
.form-managed-file .form-submit {
  background-color: $btn-primary-bg;
  &:hover {
    background-color: $btn-primary-hover;
  }
}
.description {
  font-size: $text-sm - 2;
  color: lighten($color-text, 30%);
  margin: 0.75em 0;
}
.form-type-checkbox {
  margin-bottom: 0;
  label {
    font-weight: 400;
  }
}
.form-type-radio  {
  margin-bottom: 0;
}
.form-radios label,
label.option {
  display: inline;
}
.form-managed-file .form-file {
  display: inline;
  width: auto;
}
.form-type-date select {
  width: auto;
}

/*
* Webform
* Note that these have not been tested for the National Archives website prototype
*/

.webform-client-form {
  .form,
  .form-item {
    margin-bottom: 1.5em;
    label {
      margin-bottom: 1.5em;
    }
  }
  .form-item {
    position: relative;
    > label {
      font-weight: $font-weight-bold;
    }
    .label-inline {
      display: inline;
    }
    textarea {
      box-shadow: none;
      border: 1px solid $form-element-border;
      padding: 10px;
      border-radius: 0;
    }
    input[readonly="readonly"] {
      background-color: #fcfcfc;
      border-color: $form-element-border;
    }
  }

  .webform-component-checkboxes,
  .webform-component-radios {
    input {
      padding-top: 2px;
    }
    &.form-item {
      .form-item {
        margin-bottom: 0;
        label {
          font-weight: normal;
          margin-bottom: 0;
        }
        .form-type-checkbox {
          margin: 0;
          padding: 10px 0 10px 5px;
        }
      }
    }
  }
  .form-item-clear {
    width: auto;
    border: 0;
    padding: 0;
    font-weight: bold;
  }
  .webform-component-date .form-select,
  .webform-component-time .form-select {
    width: auto;
  }
  .webform-component-textarea .grippie {
    display: none;
  }
}

/**
* Google Recaptcha
*/

.g-recaptcha {
  margin-bottom: 1.5em;
}

/*-------------
User Login form
--------------*/

#block-user-login {
  background: $white;
  padding: $gutter-sm;
  h2 {
    font-size: $text-lg;
  }
  a {
    background-color: lighten($color-link, 100%);
    border-bottom: 1px solid $color-link;
    line-height: $body-line-height;
    
    &:hover {
      border-color: $color-link-hover;
    }
  }
  .item-list {
    @include clear-list-styles;
  }
}
