/*
* The CSS is done for training purposes
* Gallery card
* Styling featured card along with title, image and summary
* Grid system via [LostGrid](http://lostgrid.org/)
* All mixins found in /base/_mixins.scss
* Variables found in /base/_base.scss
*/

/*----------------
General layout
----------------*/
.view-gallery .item-list {
  @include clear-list-styles;
  @include match-child-height;

  .views-row {
    position: relative;
    overflow: hidden;
    min-height: 350px;
    lost-column: 1/1;
    margin: 0 0 $space-xl;
    @include clearfix;
    @include from(mobile) {
      lost-column: 1/2 2 $gutter-sm; // reset: width, cycle, gutter
      // grid of 1
      &:exactly(3), &:exactly(6), &:exactly(9) {
        lost-column: 1/1 3 $gutter-sm;
      }
    }
    @include from(tablet-l) {
      lost-column: 1/2;
      // grid of 2's
      &:exactly(3), &:exactly(6), &:exactly(9) {
        lost-column: 1/2;
      }
    }
    @include from(desktop) {
      lost-column: 1/4;
      // grid of 3's
      &:exactly(3), &:exactly(6), &:exactly(9) {
        lost-column: 1/3;
      }
    }

    &:hover {
      @include box-shadow;
    }
  }
}

/*-------------------
Gallery Card Styling
---------------------*/
.view-gallery {
  // Image
  .views-field-field-gallery-image {
    img {
      @include absolute(top 50% left 50%);
      min-height: 100%;
      min-width: 100%;
      max-width: none;
      max-height: none;
      transform: translate(-50%,-50%);
      @include transition;
    }
    &:hover {
      img {
        transform: translate(-50%,-50%) scale(1.1);
      }
    }
  }
  // Title
  .views-field-title {
    @include absolute(bottom 0% left 50%);
    transform: translateX(-50%);
    height: auto;
    width: 100%;
    text-align: center;

    .field-content * {
      background: $black;
      padding: 10px;
      color: $white;
      display: block;
    }
  }
}
