/*
* The CSS is done for training purposes
* Header
* Grid system via [LostGrid](http://lostgrid.org/)
* All mixins found in /base/_mixins.scss
* Variables found in /base/_base.scss
*/

/* --------------------------
Global header layout
---------------------------*/
header {
  max-width: $container-width-lg;
  margin: 0 auto;
  position: relative;
  clear: both;
  background-color: $color-accent;
  @include clearfix;

  // false full-width background
  &:before {
    display: block;
    @include absolute(top 0 left 50% right 50%);
    content: "";
    width: 100vw;
    height: 100%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: $color-accent;
    z-index: -1;
    @include box-shadow;
  }

  // Removing the default background color for link
  .branding a {
    background-color: transparent;
  }

  // hide the slogan
  #name-and-slogan {
    @include is-invisible;
  }

  .header {
    display: inline-block;
  }

  .primary-navigation {
    float: right;
  }
}
