/*
* Some magic mixins from [RucksackCSS](https://www.rucksackcss.org/)
* All other mixins found in /base/_mixins.scss
* Inline SVG script required (found in /js/script.js)
** Variables found in /scss/_base.scss
** IE10+ support
*/

// change this variable to resize logo
$logo-width: 100px;
$logo-height: 50px;

.header__name-and-slogan {
  display: block;
  float: left;
  .header__site-link {
    display: block;
    background-color: inherit;
    min-height: $logo-height;
  }
  .header__site-name,
  .header__site-slogan {
    display: inline-block;
    margin: $space-md $space-sm;
    vertical-align: middle;
  }

  // Invisible page title for screen-reader only
  .header__site-name {
    width: $logo-width;
    height: $logo-height;
    text-indent: -9999999px;
    background: svg-load("../images/oxide-logo.svg", fill=$white) center no-repeat;
    background-size: $logo-width $logo-height;
  }
  .header__site-slogan {
    color: $grey-2;
    font-size: $text-lg;
    font-family: $font-tertiary;
    margin-left: 0;
  }
}
