/*
* Grid system via [LostGrid](http://lostgrid.org/)
* Media Query via [Rupture Sass](https://github.com/CubaSAN/rupture-sass)
* Some magic mixins from [RucksackCSS](https://www.rucksackcss.org/)
* All other mixins found in /base/_mixins.scss
* Inline SVG script required (found in /js/script.js)
** Variables found in /scss/_base.scss
** IE10+ support
*/

a {  
  color: $color-link;  
  background: $color-link-bg;
  text-decoration: none !important;
  @include transition;
  &:hover {
    color: $color-link-hover;
    background-color: $color-link-bg-hover;
  }
}