/*
* Mobile first
* Grid system via [LostGrid](http://lostgrid.org/)
* Some magic mixins from [RucksackCSS](https://www.rucksackcss.org/)
* All other mixins found in /base/_mixins.scss
* Inline SVG script required (found in /js/script.js)
** Variables found in /scss/_base.scss
** IE10+ support
*/

$collapser-size: 1rem;

/* Expand/collapse toggle button */
.menu-collapser {
  @include absolute(right $space-xs top $space-xs);
  background: svg-load("../images/icon-arrow-right.svg", fill=$color-link) center no-repeat $white;
  background-size: $collapser-size;
  display: block;
  width: $space-xl;
  height: $space-xl;
  border-radius: 50%;
  border: 1px solid $white;
  transform: rotate(0deg);
  @include transition-off;
  &:hover {
    background-color: $color-link-bg-hover;
    @include transition-on;
    cursor: pointer;
  }
}

/* Menu styles */
.block-menu-block {
  max-width: $container-width-sm;
  margin: auto;
  margin-bottom: $gutter-sm*1.5;
  font-family: $font-tertiary;
  background: $white;
  border: 1px solid #eaebee;
  border-bottom-color: $color-border;
  padding: 0;
  clear: both;
  
  /* Menu title */  
  .block-title {
    margin: 0; // reset heading level margins
    a {
      display: block;
      padding: $space-md;    
      margin: 0;      
      font-size: $text-sm;
      font-family: $font-tertiary;        
      line-height: $heading-line-height;
      letter-spacing: 0.07rem;
      color: $btn-primary-label;
      background: $btn-primary-bg;
      &:hover, &:focus {
        color: $btn-primary-label;
        background: $btn-primary-hover;
      }
    }
  }

  /* Layout + nesting */
  .menu {
    @include clear-list-styles;
    
    // nested menu is collapsed
    .menu {
      display: none;
      padding-left: $space-sm;
      &:nth-child(1) {
        padding: 0;
        margin-top: 0;
      }
      &.expanded.active-trail {
        padding-bottom: 0;
      }
      &:nth-child(1) {
        padding-left: 0;
      }     
    }      
  }   

  /* list items */
  .menu__item {
    @include relative();
    font-family: $font-primary;
    list-style: none;    

    // is expanded
    &.menu-collapser-collapsed {
      border-bottom: 1px solid $color-border;
      > .menu-collapser {
        transform: rotate(90deg);
      }
      .menu-collapser-collapsed {
        border-bottom: none;
      }
    }
  }

  /* links */
  .menu__link {
    display: block;
    padding: $space-sm $space-lg $space-sm $space-md;    
    color: $color-link;
    text-decoration: none;
    background: inherit;    
    @include transition;
    &:hover, &:focus {
      color: $color-link-hover;
      background: $color-link-bg-hover;
    }

    // active menu item
    &.active {
      color: $btn-primary-label;
      background: $btn-primary-active;
    }

    // state changes for collapser-toggle button
    &:hover + .menu-collapser,
    &:focus + .menu-collapser,
    &.active + .menu-collapser {
        background-color: $white;
        background-size: $collapser-size;
        transition: 0s;
    }
    &.active + .menu-collapser {
      @include transition-off;
      background: svg-load("../images/icon-arrow-right.svg", fill=$white) center no-repeat transparent;
      background-size: $collapser-size;
      &:hover, &:focus {
        background: svg-load("../images/icon-arrow-right.svg", fill=$color-link) center no-repeat;
        background-color: rgba($white,0.8);
        background-size: $collapser-size;
        @include transition-on;
      }
    }        
  }  
}