// @TODO refactor sass to be reusable

// /// Navigation
// /// ----------
// ///
// /// ==========

// .sf-menu .menuparent:last-of-type > ul {
//   right: 0;
//   left: auto;
//   background: red;
// }

// // Main navigation
// // ------------
// .header__primary-menu__outer {
//   background: $base-color;
//   @media screen and (max-width: 720px) {
//     padding: 9rem 0 1rem 0;
//   }
// }
// .region-navigation .block__content > .menu > li.active-trail > a {
//   background-color: transparent;
// }
// .mainmenu-wrapper {
//   @include clearfix;
//   float: right;
//   @media screen and (max-width: 720px) {
//     max-width: 70%;
//     min-width: 300px;
//     padding: 0;
//     float: none;
//     margin: auto;
//   }
// }
// .region-navigation {
//   background-color: $base-color;
//   width: auto;
//   float: left;
//   @include breakpoint(mobile-nav) {
//     float: left;
//     width: calc(100% - 35px);
//   }
//   .block-superfish {
//     float: right;
//     .tinynav1 {
//       @include breakpoint(mobile-nav) {
//         float: left;
//         width: 100%;
//       }
//       @media screen and (max-width: 720px) {
//         float: none;
//         margin-top: .5rem;
//         margin-right: 200px;
//       }
//     }
//     select#tinynav1 {
//       height: 25px;
//       option {
//         width: 100%;
//       }
//     }
//     .menu.sf-menu {
//       li {
//         padding: 0 20px;
//         a {
//           background-color: $base-color;
//           font-family: $font-heading;
//           @include rem(font-size, 18px);
//           text-transform: none;
//           padding: 39px 0;
//           position: relative;
//           overflow: hidden;
//           color: $white;
//           background-repeat: no-repeat;
//           background-position: bottom center;
//           @media screen and (min-width: 768px) and (max-width: 1111px) {
//             font-size: 15px;
//           }
//           &:before {
//             display: none;
//           }
//           &:hover,
//           &:focus {
//             text-decoration: underline;
//           }
//         }

//         // second level dropdown menu
//         ul {
//           padding: 0;
//           background-color: $base-color;
//           margin-left: 20px;
//           margin-top: -15px;
//           box-shadow: 0px 0px 5px 2px rgba($black,0.25);
//           width: 250px;
//           li {
//             padding: 0;
//             margin: 0;
//             a {
//               @include rem(font-size, 16px);
//               padding: 15px 25px 15px 15px;
//               text-decoration: none;
//               background-color: $base-color;
//               white-space: normal;
//               &:before {
//                 display: none;
//               }
//               &:hover,
//               &:focus,
//               &.active {
//                 text-decoration: underline;
//                 background: none;
//                 background-color: $base-color-dark;
//               }
//               &:hover {
//                 text-decoration: none;
//               }
//             }
//           }
//         }
//       }
//       .active-trail {
//         .active-trail a {
//           background: none;
//         }
//         & > a {
//           background-image: url('../images/triangle-white.png');
//           font-weight: bold;
//         }
//       }
//     }
//   }
// }


// // drupal admin menu
// #navbar-administration.navbar-oriented .navbar-tray-vertical,
// body.navbar-tray-open.navbar-fixed.navbar-vertical #navbar-administration.navbar-oriented,
// {
//   width: 24rem;
// }
// body.navbar-tray-open.navbar-vertical.navbar-fixed {
//   margin-left: 24rem;
// }
// .not-front .region-content {
//   min-height: 100px;
// }
// a:not(.contextual-links-trigger) {
//   transition: all 0.3s ease-in-out;
//   color: $base-color;
//   font-weight: 600;
//   &:visited {
//     color: $base-color;
//   }
//   &:hover,
//   &:focus {
//     color: $base-color-dark;
//   }
// }
