/*
* The CSS is done for training purposes
* Navigation
* Grid system via [LostGrid](http://lostgrid.org/)
* All mixins found in /base/_mixins.scss
* Variables found in /base/_base.scss
*/

/* --------------------------
Primary navigation
---------------------------*/
// Using blockfish menu
.block-superfish {
  ul.menu  {
    @include clearfix;
    // Level 1 menu
    li {
      float: none;
      display: inline-block;
      margin: 0;
      a {
        @include transition-off;
        color: $white;
        font-size: $text-md;
        background: transparent;
        padding: $gutter-sm;
        &:hover, &:focus {
          @include transition-on;
          color: $white;
          background: darken($color-accent, 20%);
        }
      }
    }

    // Menu Dropdowns (Level 2) styling
    li ul {
      transition: none;
    }
    li.menuparent ul {
      width: initial;
      min-width: 265px;
      padding: 0;
      background: $white;
      border-radius: 0;
      @extend %nav-shadow;
      li a {
        padding: $space-md;
        color: $color-text;
        font-size: $text-sm;
        &:hover {
          color: $white;
          background: $color-accent;
        }
      }
    }
  }
}

/*------------------
Mobile navigation
------------------*/
// Using Responsive Menu
@include to (tablet) {
  .responsive-menus.absolute.responsified {
    position: static !important; // Overriding the css
    // Overriding toggler styling
    span.toggler {
      background: transparent;
      @include box-shadow;
      font-size: $text-xxl;
      border: none;
      position: relative;
      width: 30px;
      height: 30px;
    }

    /* hamburger menu styling */
    .hamburger {
      width: 30px;
      height: 5px;
      background: $white;
      @include absolute(top 50% right 0);
      @include transition;
      &:before, &:after {
        background: $white;
        width: 30px;
        height: 5px;
        content: "";
        @include absolute(right 0);
        @include transition;
      }
      &:before {
        top: -11px;
      }
      &:after {
        top: 11px;
      }
      &:focus {
        border: 1px solid $black;
      }
    }

    // When click on hamburger
    .toggler.active .hamburger {
      background: rgba($black, 0);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0);

      &:before {
        top: 0;
        transform:rotate(45deg);
      }

      &:after {
        top: 0;
        transform:rotate(135deg);
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
      }
    }

    /* Menu dropdown list */
    .responsive-menus-simple {
      background: transparent;
      @include box-shadow;
      @include transition;
      border: none;
      border-radius: 0;
      left: 0;

      // first level menu
      ul {
        width: 100% !important; // Force ul to be full width
        li a {
          background: $black;
          text-transform: initial;
          border: 0;
          padding: $space-md;
          @include transition-on;
          &:hover,
          &:focus {
            background: darken($black, 20%);
            @include transition-off;
          }
        }

        // second level menu
        ul li a {
          width: 100%;
          padding-left: $space-xl;
          background: lighten($black, 5%);
        }
      }
    }
  }
}
