/*
* Some magic mixins from [RucksackCSS](https://www.rucksackcss.org/)
* All other mixins found in /base/_mixins.scss
* Inline SVG script required (found in /js/script.js)
** Variables found in /scss/_base.scss
** IE10+ support
*/


/* pagination */
.item-list .pager {
  @include clearfix;
  @include clear-list-styles;
  background: none;
  border: none;
  text-align: center;
  margin: $space-md;
  > li {
    display: inline-block;
  }
  a {
    text-decoration: none;
    @include transition;
  }  
  
  .pager-current {
    border: 1px solid $btn-primary-bg;
    padding: $space-xs $space-sm;
    color: $btn-primary-label;
    font-size: $text-sm;
    border-radius: 2px;
    background-color: $btn-primary-bg;
    box-shadow: 0px 2px 40px -6px $btn-primary-active;
  }

  .pager-item {
    float: none;
    margin: 0;
    border: none;
    a:not(.pager-next) {
      display: block;
      border: 1px solid transparent;
      background: transparent;
      color: $btn-primary-bg;
      padding: $space-xs $space-sm;
      font-size: $text-sm;
      border-radius: 2px;
      &:hover, &:focus {
        border-color: $btn-primary-bg;
        background-color: $btn-primary-hover;
        color: $white;
      }
    }  
  }

  .pager-next a,
  .pager-previous a {
    display: block;
    font-size: $text-sm;
    text-transform: uppercase;
    background: transparent;
    color: $btn-primary-bg;
    padding: $space-xs $space-md $space-xs $space-sm;
    border: 1px solid transparent;
    border-radius: 2px;
    position: relative;
    &:before {
      content: "";
      background: svg-load("../images/icon-arrow-right.svg", fill=$color-link) center no-repeat;
      background-size: $text-xs;
      vertical-align: middle;
      display: inline-block;
      height: 100%;
      width: 1rem;
      line-height: 1;
      @include absolute(top 50%);
      right: $text-sm * 0.1;
      transform: translateY(-50%) scale(1);
      @include transition-off;
    }
    &:hover, &:focus {
      border-color: $btn-primary-hover;
      background-color: $btn-primary-hover;
      color: $white;
      &:before {
        content: "";
        background-image: svg-load("../images/icon-arrow-right.svg", fill=$white);
        @include transition-on;
      }
    }
  }
  .pager-previous a {
    padding: $space-xs $space-sm $space-xs $space-md;
    margin: 0;
    &:before {
      right: initial;
      left: $text-sm * 0.1;
      transform: translateY(-50%) scale(-1, 1);
    }
  }  

  .pager-last,
  .pager-ellipsis,
  .pager-first {
    display: none;
  }  
}