/*
** Variables found in /scss/_base.scss
** IE9+ support
*/

// Pill hover style
@mixin pill-hover {
  &:hover {
    cursor: pointer;
    background-color: $btn-primary-hover;
    border-color: $btn-primary-hover;
    color: $btn-primary-label;
    text-decoration: none;
    @include transition-on;
  }
}

// Pill focus style
@mixin pill-focus {
  &:focus {
    background-color: $white !important;
    // box-shadow: none !important;
    border-color: $btn-primary-focus !important;
    color: $btn-primary-focus !important;
    outline: none !important;
    text-decoration: none;
    @include transition-on;
  }
}

// Default Pill styles
%pill {
  float: left;
  display: block;
  background-color: $grey-7;
  border: 1px solid $grey-7;
  color: $white;
  font-family: $font-primary;
  font-weight: $font-weight-black;
  font-size: $text-xs;
  line-height: $heading-line-height;
  padding: $space-xxs $space-sm;
  border-radius: $border-radius-xxl;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  margin: 0 $space-xs $space-xs 0;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  @include transition-off;
  @include pill-hover;
  @include pill-focus;
}

// various markup combos for pill styles
a.pill,
.pill a {
  @extend %pill;
}
