// @TODO refactor sass to be reusable


// /*
// * Search form
// */

// #block-bean-collections-search {
//   background: $nla-purple;
//   padding: $gutter*1.5;
//   max-width: 1050px;
//   margin: auto;
//   .block-title {
//     color: white;
//     @include font-size(24);
//     margin: 0 auto $gutter;
//     text-align: center;
//     span a {
//       display: inline;
//       @include font-size(18);
//       font-family: $font-alternate;
//       font-weight: 900;
//       text-transform: uppercase;
//       color: $nla-teal;
//       &:hover, &:active, &:focus {
//         color: lighten($nla-teal, 40%);
//       }
//     }
//   }

//   form {
//     @include relative;
//   }
//   input[type="text"] {
//     width: 100%;
//     padding: 0.8rem 60px 0.8rem 1rem;
//   }
//   input[type="submit"] {
//     @include hide-text;
//     background: url(../images/icon-search-white.svg) no-repeat center $link-color;
//     background-size: 20px;
//     width: 36px;
//     height: 36px;
//     border-radius: 50%;
//     transition: 0.3s ease all;
//     @include absolute(top 5px right 7px);
//     &:hover, &:focus, &:active {
//       cursor: pointer;
//       transition: 0.1s ease all;
//       background-color: $nla-orange;
//       background-image: url(../images/icon-search-white.svg);
//     }
//   }

//   @include mediaquery($break-big) {
//     padding: $gutter*2.5 $gutter*2;
//     .block-title, #views-exposed-form {
//       float: left;
//     }
//     .block-title {
//       margin: 0;
//       width: 30%;
//       text-align: left;
//       span {
//         display: block;
//       }
//     }
//     #views-exposed-form {
//       width: 70%;
//       .views-exposed-widgets {
//         margin: 0;
//       }
//     }
//   }
// }
