// @TODO refactor sass to be reusable

// .search-wrapper {
//   @include relative();

//   /* Search toggle */
//   .search-toggle {
//     @include hide-text;
//     @include absolute(top 47px right 15px);
//     background: url(../images/icon-search.svg) no-repeat center $nla-white;
//     background-size: 20px;
//     width: 36px;
//     height: 36px;
//     border-radius: 50%;
//     display: block;
//     transition: 0.3s ease all;
//     &:hover, &:focus {
//       cursor: pointer;
//       transition: 0.1s ease all;
//       background-color: $link-color;
//       background-image: url(../images/icon-search-white.svg);
//     }
//   }
//   /* Search form */
//   #block-views-exp-search-view-page {
//     height: auto;
//     position: absolute;
//     top: 105px;
//     right: -6px;
//     width: 100%;
//     max-width: 600px;
//     .views-exposed-widget.views-submit-button {
//       top: 0;
//       .form-submit {
//         margin: 0;
//       }
//     }
//     #views-exposed-form-search-view-page {
//       margin: 0;
//       padding: 5px;
//     }
//   }
//   #views-exposed-form-search-view-page {
//     @include font-size(14);
//     display: block;
//     opacity: 0;
//     max-width: 0;
//     overflow: hidden;
//     transform-origin: top;
//     transition: 0.3s all;
//     padding: 15px;
//     background-color: $nla-white;
//     font-family: $font-alternate;
//     color: $grey-lighter;
//     width: 100%;
//     float: right;
//     @include relative(right -6px);
//     .form-control {
//       box-shadow: none;
//     }
//     .views-exposed-form, .views-exposed-widgets, .views-exposed-widget {
//       padding: 0;
//       margin: 0;
//       .views-widget {
//         display: block;
//       }
//     }
//     .views-exposed-widget {
//       width: 100%;
//       input[type="text"] {
//         background: transparent;
//         border: none;
//         width: calc(100% - 70px); // submit button offset
//         height: 100%;
//         color: #444;
//         @include font-size(18);
//       }
//     }
//     .views-submit-button {
//       @include absolute(top 0% right 0%);
//       z-index: 2;
//       height: 100%;
//       width: 50px;
//       color: $link-color;
//       padding: 5px;
//       .form-control-feedback {
//         display: none;
//       }
//       .form-submit {
//         @include hide-text;
//         display: block;
//         width: 36px;
//         height: 36px;
//         -webkit-appearance: none;
//         border: 1px solid $grey-lighter;
//         text-align: center;
//         display: block;
//         background: url(../images/icon-search-white.svg) no-repeat center $link-color;
//         background-size: 20px;
//         border-radius: 50%;
//         margin: 4px auto 0; // center the submit button
//         padding: 0;
//       }
//     }
//   }

//   &.show {
//     .search-toggle {
//       background-image: url(../images/icon-close.svg);
//       &:after {
//         background: url(../images/icon-active-arrow.png) center bottom no-repeat;
//         background-size: 20px;
//         display: block;
//         content: "";
//         width: 20px;
//         height: 20px;
//         @include absolute(bottom -23px right 6px);
//       }
//       &:hover, &:focus {
//         cursor: pointer;
//         transition: 0.1s ease all;
//         background-color: $link-color;
//         background-image: url(../images/icon-close-white.svg);
//       }
//     }
//     #views-exposed-form-search-view-page {
//       opacity: 1;
//       max-width: 600px;
//     }
//   }
//   @media screen and (max-width: 884px) {
//     position: static;
//     .search-toggle {
//       right: 15px;
//     }
//   }
// }
