/*
* The CSS is done for training purposes
* subscription card
* Grid system via [LostGrid](http://lostgrid.org/)
* All mixins found in /base/_mixins.scss
* Variables found in /base/_base.scss
*/

.bean-subscription-block {
  background: $white;
  padding: $gutter-sm;

  // Title
  h2 {
    font-size: $text-lg;
    color: $color-primary;
  }
}
