/*
* Some magic mixins from [RucksackCSS](https://www.rucksackcss.org/)
* All other mixins found in /base/_mixins.scss
* Inline SVG script required (found in /js/script.js)
** Variables found in /scss/_base.scss
** IE10+ support
*/

// Style drupal tabs.

ul.tabs--primary {
  @include clear-list-styles;
  @include clearfix;
  font-size: $text-sm;
  border-bottom: $color-border 1px solid;
  background-color: $white;
  margin: 0 auto $space-md;
  
  li {
    float: left;
  }
  
  a {
    display: block;
    color: $color-link;
    padding: $space-xs $space-sm;
    background-color: $white;
    text-decoration: none;
    @include transition;
    &.active {
      text-decoration: none;
      border-bottom: 4px solid;
      border-bottom-color: $btn-primary-active;
      margin-bottom: -4px;
    }
    &:hover {
      color: $white;
      background-color: $btn-primary-hover;
    }
  }  
}
