// @TODO refactor sass to be reusable

// .view-collections-block {
//   .field-name-title, .home-block__text {
//     @include absolute(bottom 0 left 0);
//     width: 100%;
//     padding: 19px 65px 19px 15px;
//     background-color: $nla-white;
//     width: 100%;
//     transition: 0.4s ease-out all;
//     min-height: 55px;
//     * {
//       transition: 0.4s ease-out all;
//       @include font-size(16);
//       font-weight: bold;
//       text-transform: uppercase;
//       letter-spacing: 0.01rem;
//       font-family: $font-alternate;
//       margin: 0;
//       padding: 0;
//     }
//     // create red button
//     &:before {
//       display: block;
//       content: "";
//       @include absolute(bottom 0 right 0);
//       background: url('../images/icon-arrow-right-white.svg') no-repeat center, $link-color;
//       background-size: $gutter;
//       height: 100%;
//       width: 55px;
//     }
//   }
//   .field-type-image {
//     @include relative();
//     min-height: 300px;
//     overflow: hidden;
//     img {
//       transition: 0.4s ease-out all;
//       @include absolute(top 50% left 50%);
//       min-height: 100%;
//       max-width: none;
//       transform: translate(-50%, -50%);
//     }
//   }
//   .group-link {
//     transition: 0.4s ease-out transform;
//     position: relative;
//     display: block;
//     @include clearfix;
//     max-height: 300px;
//     overflow: hidden;
//     background-color: $nla-white;
//     border-bottom: 1px solid $grey-lighter;
//     .field-type-image {
//       overflow: hidden;
//       img {
//         transition: all ease 0.4s;
//       }
//     }
//     &:hover, &:focus {
//       transition: 0.2s ease all;;
//       //transform: translateY(-10px);
//       .field-name-title {
//         transition: 0.1s ease-out all;
//         background-color: $link-color;
//         * {
//           transition: 0.1s ease-out all;
//           color: $nla-white;
//         }
//       }
//       img {
//         transform: scale(1.1) translate(-50%, -50%) !important;
//         transition: 0.2s ease all;
//       }
//     }
//   }
// }

// /* collection page card hover style */
// .section-collections {
//   .group-link {
//     outline: 1px solid rgba(222, 218, 230, 0);
//     &:hover {
//       outline-color: rgb(222, 218, 230);
//       box-shadow: 0px 20px 100px -25px rgba(black, 0.2);
//     }
//     &:focus {
//       outline: 5px auto -webkit-focus-ring-color;
//     }
//   }
// }

// /* collection card hover style on homepage */
// .view-collections-block {
//   .group-link {
//     &:hover {
//       img {
//         transform: scale(1.1) translate(-45%, -45%) !important;
//         transition: 0.2s ease all;
//       }
//     }
//   }
// }
