/*
* Mobile first
* Grid system via [LostGrid](http://lostgrid.org/)
* Media Query via [Rupture Sass](https://github.com/CubaSAN/rupture-sass)
* Some magic mixins from [RucksackCSS](https://www.rucksackcss.org/)
* All other mixins found in /base/_mixins.scss
* Inline SVG script required (found in /js/script.js)
** Variables found in /scss/_base.scss
** IE10+ support
*/

.view-plan-your-visit .item-list {
  @include clear-list-styles;
  @include match-child-height;
  lost-utility: clearfix;
  lost-center: $container-width-md;
  padding: 0 $gutter-sm;

  // force ul to be full-width
  > * {
    width: 100%;
  }

  /* Setting the grids */
  .views-row {
    lost-column: 1/1;
    margin-bottom: $gutter-sm;
    @include from (mobile) {
      lost-column: 1/2 2 $gutter-sm; // reset: width, cycle, gutter
    }
    @include from (tablet-l) {
      lost-column: 1/3;
      margin: 0 0 $gutter-lg;
    }
    @include from (desktop-l) {
      lost-column: 1/4;

      // grid of 3
      &:at-most(3) {
        lost-column: 1/3;
      }

      // grid of 6
      &:at-most(6) {
        lost-column: 1/3;
      }

      // grid of 9
      &:at-least(9) {
        lost-column: 1/3;
      }
    }
  }

  /* Tile elements */
  .group-link {
    background: $white;
    padding: $gutter-sm;
    display: block;
    text-align: center;
    border-radius: 4px;
    border: 1px solid $color-border;
    @include shadow--hover;
    &:hover, &:focus {
      background-color: shade($white,2%);
    }
  }
  // Image
  .field-type-image {
    max-width: 100%;
  }
  // Title
  .field-name-title * {
    font-family: $font-primary;
    font-size: $base-size;
    font-weight: $font-weight-regular;
    color: $color-primary;
    letter-spacing: 0.05em;
    text-align: center;
    margin: 0
  }
}
