.component--title {
  position: relative;
  margin: $space-lg auto;
  padding: $space-lg $space-md;
  border-top: 1px solid $color-accent-bg;

   // accent line below title
   &:after {
    background-color: $color-accent;
    width: 50px;
    height: 3px;
    display: block;
    content: "";
    @include absolute(bottom 0 left 0 right 0);
    margin: auto;
   }

  * {
    text-align: center;
    width: 100%;
  }
  h2 {
   margin: 0;
   & + ul {
    margin-top: $space-xs;
   }
  }   
  ul {
    @include clear-list-styles;
  }
}