body {
  background: $color-body;
}
.container {
  max-width: $container-width-lg;
  margin: auto;
  padding: 0 $gutter-sm;
}
.main-content {
  max-width: $container-width-sm;
  margin: auto;
}
.content-area-wrapper {
  padding: $space-xxxl 0;
}
h1.page-title {
  font-size: $text-lg;
}

/*------------
Banner layout
-------------*/

// About Page Banner
#block-bean-about-us-banner-image {
  width: 100%;
  margin-bottom: $space-xxxl;
  margin-top: -$space-xxxl; //To cover the top padding of the page
}
