/*
* The CSS is done for training purposes
* Pages with two column layout
* Grid system via [LostGrid](http://lostgrid.org/)
* All mixins found in /base/_mixins.scss
* Variables found in /base/_base.scss
*/

.one-sidebar .content-area-wrapper .container {
  lost-utility: clearfix;
  lost-center: $container-width-lg;

  .main,
  .sidebar {
    lost-column: 1/1;
  }

  @include from(tablet-l) {
    .main {
      lost-column: 2/3;
    }
    aside.sidebar {
      lost-column: 1/3;
    }
  }
}
