@keyframes fade-in {
  from {
   opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
   opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// less movement than sliding
@keyframes shift-in-up {
  from {
    transform: translateY(10%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0%);
    opacity: 0;
  }

  to {
    transform: translateY(-100%);
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: translateY(-50%) scaleY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 1.5s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.fade-out {
  animation-name: fade-out;
  animation-duration: 1.5s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.slide-in {
  animation-name: slide-in;
  animation-duration: 1.5s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.slide-out {
  animation-name: slide-out;
  animation-duration: 1.5s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.shift-in-up {
  animation-name: shift-in-up;
  animation-duration: 1.5s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.grow {
  animation-name: grow;
  animation-duration: .3s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

// fade in effect
.animation-loop {
  /* loop */
  $i: 2s;
  @for $level from 0 to 10 {
    > li:nth-of-type(#{$level + 1}) {
      animation: shift-in-up 0.6s ease $i both;
      //animation-delay: 1s;
    }
    $i: $i + .2s;
  }
}

.b-lazy {
    transition: all 4s ease;
    max-width: 100%;
    opacity: 0;
  &.b-loaded {
    opacity: 1;
    transition: all 4s ease;
  }
}
