/*
* Variables
*/

/* --------------------------------
Layout
-------------------------------- */
// Lost Grid - PostCSS
// https://github.com/peterramsing/lost
$gutter-sm: 20px;
$gutter-lg: 30px;
// @lost rounder 99.99999;
@lost rounder 99.999;
@lost flexbox flex;

// container sizes
$container-width-lg: 1280px;
$container-width-md: 960px;
$container-width-sm: 750px;

// Rupture - Breakpoint Slicer improved
// https://github.com/CubaSAN/rupture-sass
$rupture: map-merge($rupture, (
mobile-cutoff: 480px,
desktop-cutoff: 1024px,
hd-cutoff: 1200px,
scale:       0        390px       480px       768px       1024px      1200px     1400px,
//           └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────
scale-names:   'mobile-s'   'mobile'    'tablet'   'tablet-l'  'desktop'  'desktop-l' 'desktop-xl',
anti-overlap: true
));

// layout debugger
html {
  @include debug-breakpoints;
}

@lost gutter #{$gutter-sm};
@include from(tablet-l) {
  @lost gutter #{$gutter-lg};
}

/* --------------------------------
Colour
-------------------------------- */

/* main colors */
$color-primary:       #f04532;
$color-primary-light: tint($color-primary,15%);
$color-primary-dark:  shade($color-primary,15%);
$color-primary-bg:    rgba($color-primary,.2);

$color-accent:        #f25f19;
$color-accent-light:  tint($color-accent,50%);
$color-accent-dark:   shade($color-accent,10%);
$color-accent-bg:     rgba($color-accent,.2);

// shades
$black:   #1d1d21;
$grey-10: #2e2e31;
$grey-9:  lighten(#2e2e31,10%);
$grey-8:  lighten(#2e2e31,15%);
$grey-7:  lighten(#2e2e31,20%);
$grey-6:  #7b7a7d;
$grey-5:  #7b7a7d;
$grey-4:  #a5a5a6;
$grey-3:  #bbbbbc;
$grey-2:  #d1d0d2;
$grey-1:  #e8e7e8;
$white:   white;

/* feedback */
$color-success:             #88c459;
$color-error:               #f5414f;
$color-warning:             #ffd137;

/* typography */
$color-text:                $grey-7;
$color-text-heading:        $black;
$color-text-subtle:         $grey-6;
$color-link:                $color-primary;
$color-link-hover:          $color-primary-dark;
$color-link-bg:             tint($color-primary-bg,15%);
$color-link-bg-hover:       $color-primary-bg;
$color-mark:                $color-accent-bg;

/* border */
$color-border:              $grey-1;
$color-border-quote:        $color-accent-light;

/* body */
$color-body:                #f0eeeb;

/* forms */
$form-element-border:       $color-border;
$form-element-border-focus: $color-primary;
$form-element-border-error: $color-error;
$form-element-bg:           $white;
$form-text-placeholder:     $grey-4;

/* buttons */
$btn-primary-bg:            $color-primary;
$btn-primary-hover:         $color-primary-light;
$btn-primary-focus:         $color-primary-light;
$btn-primary-active:        $color-primary-dark;
$btn-primary-label:         $white;



/* icons */
$color-icon-primary:        $grey-4;
$color-icon-secondary:      inherit;


/* --------------------------------
Spacing
-------------------------------- */
/* set base values */
$base-size: 1rem; // set at html font-size
$scale-ratio: 1.3;

/* spacing values */
$space-xxxs:  $base-size / $scale-ratio / $scale-ratio  / $scale-ratio  / $scale-ratio;
$space-xxs:   $base-size / $scale-ratio / $scale-ratio  / $scale-ratio;
$space-xs:    $base-size / $scale-ratio / $scale-ratio;
$space-sm:    $base-size / $scale-ratio;
$space-md:    $base-size;
$space-lg:    $base-size * $scale-ratio;
$space-xl:    $base-size * $scale-ratio * $scale-ratio;
$space-xxl:   $base-size * $scale-ratio * $scale-ratio * $scale-ratio;
$space-xxxl:  $base-size * $scale-ratio * $scale-ratio * $scale-ratio * $scale-ratio;
$space-xxxxl: $base-size * $scale-ratio * $scale-ratio * $scale-ratio * $scale-ratio * $scale-ratio;


/* --------------------------------
Typography
-------------------------------- */
/* font stack */
@import url("https://use.typekit.net/qsk7wbx.css");
$font-primary: pt-sans, sans-serif;
$font-secondary: pt-serif, serif;
$font-tertiary: bebas-neue, sans-serif;

/* font weights */
$font-weight-light:   300;
$font-weight-regular: 400;
$font-weight-medium:  500;
$font-weight-bold:    600;
$font-weight-black:   700;
$font-weight-fat:     800;

/* type scale */
$text-xxs:  $base-size / $scale-ratio * $scale-ratio;
$text-xs:   $base-size / $scale-ratio;
$text-sm:   $base-size;
$text-md:   $base-size * $scale-ratio;
$text-lg:   $base-size * $scale-ratio * $scale-ratio;
$text-xl:   $base-size * $scale-ratio * $scale-ratio * $scale-ratio;
$text-xxl:  $base-size * $scale-ratio * $scale-ratio * $scale-ratio * $scale-ratio;
$text-xxxl: $base-size * $scale-ratio * $scale-ratio * $scale-ratio * $scale-ratio * $scale-ratio;

/* line-height */
$heading-line-height: 1.1;
$body-line-height:    1.5;

/* Border-radius */
$border-radius-xs: 5px;
$border-radius-xxl: 30px;


html {
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  // Responsive typography
  font-size: 12px; // 12px
  @include from(tablet-l) {
    font-size: 14px; // 14px
  }
  @include from(desktop-l) {
    font-size: 16px; // 16px
  }
  @include from(desktop-xl) {
    font-size: 18px; // 18px;
  }
}

body {
  font-family: $font-primary;
  color: $color-text;
  font-size: $base-size;
  line-height: $body-line-height;
}

h1, h2, h3, h4, form legend {
  font-family: $font-secondary;
  font-weight: $font-weight-bold;
  line-height: $heading-line-height;
  color: $color-text-heading;
  letter-spacing: -0.07rem;
}

// Addresses font-family inconsistency between 'textarea' and other form elements.
html,
button,
input,
select,
textarea {
  font-family: $font-primary;
}


h1 {
  font-size: $text-xxl;
  margin-bottom: $space-md;
  // Only add top margin if there's another element before it
  * + & {
    margin-top: $space-lg;
  }
}


h2 {
  font-size: $text-xl;
  margin-bottom: $space-sm;
  * + & {
    margin-top: $space-lg;
  }
}

h3 {
  font-size: $text-lg;
  margin-bottom: $space-xxs;
  * + & {
    margin-top: $space-md;
  }
}

h4 {
  font-size: $text-md;
  margin-bottom: $space-xxs;
  * + & {
    margin-top: $space-md;
  }
}

h5 {
  font-size: $text-sm;
  margin-bottom: $space-xxs;
  * + & {
    margin-top: $space-md;
  }
}

small {
  font-size: $text-sm;
}

a {
  color: $color-link;
  // &:visited {
  //   color: $color-link-visited;
  // }
}

p {
  font-size: $base-size;
  margin: 0 auto $space-md;
  line-height: $body-line-height;
}

img {
  max-width: 100%;
  border: 0;
  height: auto;
  width: auto;
}

b, strong {
  font-weight: $font-weight-bold;
}

dl {
  background: $white;
  padding: $space-xxs;
}

dt {
  font-family: $font-tertiary;
}
dd {
  border-bottom: 1px solid $color-border;
  padding: 0 0 $space-xxs;
  margin: 0 0 $space-xxs;
  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

blockquote {
  font-size: $text-md;
  color: $color-accent-dark;
  display: block;
  padding: $space-md;
  margin: $space-xl 0;
  border-top: 1px solid $color-border-quote;
  border-bottom: 1px solid $color-border-quote;
}

/* utility classes */
%truncate {
  // truncate text if it exceeds parent
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
// box-shadow for dropdowns + sticky header
%nav-shadow {
  box-shadow: 0 25px 100px -25px $black;
}
