/**
 * Mixins
 *
 * Snippets of reusable CSS to develop faster and keep code readable
 */

// Rupture Sass debug
@mixin debug-breakpoints {
  body {
    &::after {
      position: fixed;
      font-size: 13px;
      bottom: 0;
      left: 0;
      z-index: 10000000;
      padding: 7px 8px 7px 6px;
      color: #fff;
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
      border-radius: 0 3px 0 0;
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 0.8;
      $breakpoint-values: map-get($rupture, scale);
      $breakpoint-names: map-get($rupture, scale-names);
      @each $breakpoint in $breakpoint-names {
        $i: index($breakpoint-names, $breakpoint);
        @media (min-width: nth($breakpoint-values, $i)) {
          content: nth($breakpoint-names, $i);
        }
      }
    }
  }
}

/* Consistent transition speed */
// Slow off
@mixin transition-off($property: all) {
  transition: $property 0.4s ease-out;
}
// Fast on
@mixin transition-on($property: all) {
  transition: $property 0.1s;
}

@mixin transition($property: all) {
  @include transition-off;
  &:hover, &:focus {
    @include transition-on;
  }
}

/* Performant shadow hover transition */
@mixin shadow--hover {
  position: relative;
  @include transition;
  // improved animation performance (make box-shadow a pseudo element)
  &:after {
    @include transition-off;
    display: block;
    @include absolute(top 0 left 0 right 0);
    margin: auto;
    content: "";
    height: 100%;
    width: 100%;
    box-shadow: 0px 20px 100px -25px rgba($black, 0.2);
    opacity: 0;
    z-index: -1;
  }
  &:hover,
  &:focus {
    transform: translateY(-10px);
    &:after {
      @include transition-on;
      opacity: 1;
    }
  }
}

// Add fallback for IE if necessary
@mixin match-child-height() {
  & > * {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    > * {
      display: flex;
      flex-direction: column;
      > * {
        height: 100%;
      }
    }
  }
}

// Text overflow
// Requires inline-block or block for proper styling
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin box-shadow ( $horiz : 0 , $vert : 20px , $blur : 70px , $spread : -20px , $color : $grey-7 ) {
  box-shadow: $horiz $vert $blur $spread $color;
}

@mixin box-shadow-inset {
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #fff, 0 1px 0 #fff;
}


// Clearfix
.clearfix {
  clear: fix;
}
@mixin clearfix {
  clear: fix;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Removes list styling on navigation lists and grids of items etc.
@mixin clear-list-styles {
  margin: 0;
  padding: 0;
  > * {
    background: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

// CSS image replacement
// @see: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
%hide-text {
  background-color: transparent;
  border: 0;
  color: transparent;
  font: 0/0 a;
  margin: 0;
  padding: 0;
  text-shadow: none;
}
@mixin is-invisible {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}

/// Turns off the element-invisible effect.
@mixin is-visible {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}


/* Tint and shade function */
@mixin color-reverse-children {
  * {
    color: white;
  }
}

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}


/* Positioning mixin */
@mixin position($position, $args: ()) {
  $offsets: top right bottom left;
  position: $position;                                               // 1

  @each $offset in $offsets {                                        // 3
    $index: index($args, $offset);                                   // 4

    @if $index {                                                     // 5
      @if $index == length($args) {                                  // 6
        #{$offset}: 0;                                               // 7
      }
      @else {                                                        // 8
        $next: nth($args, $index + 1);                               // 9
        @if is-valid-length($next) {                                 // 10
          #{$offset}: $next;                                         // 11
        }
        @else if index($offsets, $next) {                            // 12
          #{$offset}: 0;                                             // 13
        }
        @else {                                                      // 14
          @warn "Invalid value `#{$next}` for offset `#{$offset}`."; // 15
        }
      }
    }
  }
}

// Function checking if $value is a valid length
// ---
// @param [literal] $value: value to test
// ---
// @return [bool]

@function is-valid-length($value) {
  @return (type-of($value) == "number" and not unitless($value))
       or (index(auto initial inherit 0, $value) != false);
}

// Shorthands
// ---

@mixin absolute($args: ()) {
  @include position(absolute, $args);
}

@mixin fixed($args: ()) {
  @include position(fixed, $args);
}

@mixin relative($args: ()) {
  @include position(relative, $args);
}
